body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pagination .page-item:not(.active):not(.disabled) {
  cursor: pointer;
}

#qty {
  width: 60px;
}

.product h5, .product p {
  margin: 0;
}
